<div class="container">
  <div id="<%= dom_id bike_model %>">
    <p>
      <strong>Model_name:</strong>
      <%= bike_model.models_name %>
    </p>

    <p>
      <strong>Bike_Brand_id:</strong>
      <%= bike_model.bike_brand_id%>
    </p>
    <p>
      <strong>Bike_Type_id:</strong>
      <%= bike_model.bike_type_id%>
    </p>
  </div>
</div>



  
