<h1>Editing bike_models</h1>

<%= render "form", bike_model: @bike_model %>

<br>

<div>
  <%= link_to "Show this bike_models", @bike_model %> |
  <%= link_to "Back to bike_models", bike_models_path %>
</div>
