<div class="container">
  <div id="<%= dom_id bike_photo %>">
    

    <p>
      <strong>Photos:</strong>
      
      <%= image_tag url_for(bike_photo.image), class:"foto"%>
    </p>

    


    <p>
      <strong>Bike_id:</strong>
      <%= bike_photo.bike_id%>
    </p>
  </div>
</div>
